.data-label-block {
    background: rgba($light-blue, 0.2);
    &__list {
        &__item {
            width: 100%;
            position: relative;
            @include breakpoint(lg){
                width: 50%;
            }
            .h3 {
                color: $dark-blue;
                margin-bottom: 10px;
            }
            &:hover {
                .data-label-block__list__item__icon {
                    background: $blue;
                    color: $white;
                }
            }
            &__icon {
                @include border-radius(50%);
                background: transparent;
                border: 2px solid $blue;
                color: $blue;
                position: absolute;
                top: 18px;
                width: 60px;
                height: 60px;
                font-size: 30px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transition: 0.4s all ease-in-out;
                @include breakpoint(sm){
                    top: 10px;
                    width: 70px;
                    height: 70px;
                    font-size: 35px;
                }
            }
            &:nth-child(odd){
                padding: 15px 0 15px 70px;
                text-align: left;
                @include breakpoint(sm){
                    padding: 10px 90px;
                }
                @include breakpoint(lg){
                    padding-right: 0;
                }
                .data-label-block__list__item__icon {
                    left: 0;
                }
            }
            &:nth-child(even){
                margin-left: auto;
                padding: 15px 70px 15px 0;
                text-align: right;
                @include breakpoint(sm){
                    padding: 10px 90px;
                }
                @include breakpoint(lg){
                    padding-left: 0;
                }
                .data-label-block__list__item__icon {
                    right: 0;
                }
            }
        }
    }
}